<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.catering">

    <!--<uses-permission android:name="android.permission.INTERNET"/>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".MainActivitySeller"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".CateringProfileActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ListGubukActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MenuDescriptionActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AddNewMenuActivity"
            android:parentActivityName=".MainActivitySeller"/>
    </application>
</manifest>
